In [32]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score

In [33]:
df = pd.read_csv(r"C:\Users\Asus\Downloads\autos_mpg.csv")
df

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,car_name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino
...,...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86,2790,15.6,82,1,ford mustang gl
394,44.0,4,97.0,52,2130,24.6,82,2,vw pickup
395,32.0,4,135.0,84,2295,11.6,82,1,dodge rampage
396,28.0,4,120.0,79,2625,18.6,82,1,ford ranger
397,31.0,4,119.0,82,2720,19.4,82,1,chevy s-10

In [34]:
df.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,car_name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino

In [35]:
df.shape

(398, 9)

In [36]:
df.dtypes

mpg             float64
cylinders         int64
displacement    float64
horsepower       object
weight            int64
acceleration    float64
model_year        int64
origin            int64
car_name         object
dtype: object

In [37]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           398 non-null    float64
 1   cylinders     398 non-null    int64
 2   displacement  398 non-null    float64
 3   horsepower    398 non-null    object
 4   weight        398 non-null    int64
 5   acceleration  398 non-null    float64
 6   model_year    398 non-null    int64
 7   origin        398 non-null    int64
 8   car_name      398 non-null    object
dtypes: float64(3), int64(4), object(2)
memory usage: 28.1+ KB

In [38]:
df.describe()

,mpg,cylinders,displacement,weight,acceleration,model_year,origin
count,398.000000,398.000000,398.000000,398.000000,398.000000,398.000000,398.000000
mean,23.514573,5.454774,193.425879,2970.424623,15.568090,76.010050,1.572864
std,7.815984,1.701004,104.269838,846.841774,2.757689,3.697627,0.802055
min,9.000000,3.000000,68.000000,1613.000000,8.000000,70.000000,1.000000
25%,17.500000,4.000000,104.250000,2223.750000,13.825000,73.000000,1.000000
50%,23.000000,4.000000,148.500000,2803.500000,15.500000,76.000000,1.000000
75%,29.000000,8.000000,262.000000,3608.000000,17.175000,79.000000,2.000000
max,46.600000,8.000000,455.000000,5140.000000,24.800000,82.000000,3.000000

In [39]:
missing_values =df.isnull().sum()
missing_values

mpg             0
cylinders       0
displacement    0
horsepower      0
weight          0
acceleration    0
model_year      0
origin          0
car_name        0
dtype: int64

In [40]:
df.isnull().sum()

mpg             0
cylinders       0
displacement    0
horsepower      0
weight          0
acceleration    0
model_year      0
origin          0
car_name        0
dtype: int64

In [41]:
X = df.iloc[:,:-2].values
y = df.iloc[:,-1].values

In [42]:
print(X)
print("Is X a 2D array?", X.ndim == 2)

[[18.0 8 307.0 ... 3504 12.0 70]
 [15.0 8 350.0 ... 3693 11.5 70]
 [18.0 8 318.0 ... 3436 11.0 70]
 ...
 [32.0 4 135.0 ... 2295 11.6 82]
 [28.0 4 120.0 ... 2625 18.6 82]
 [31.0 4 119.0 ... 2720 19.4 82]]
Is X a 2D array? True

In [43]:
print(y)
print("Is y a 2D array?", y.ndim == 2)

['chevrolet chevelle malibu' 'buick skylark 320' 'plymouth satellite'
 'amc rebel sst' 'ford torino' 'ford galaxie 500' 'chevrolet impala'
 'plymouth fury iii' 'pontiac catalina' 'amc ambassador dpl'
 'dodge challenger se' "plymouth 'cuda 340" 'chevrolet monte carlo'
 'buick estate wagon (sw)' 'toyota corona mark ii' 'plymouth duster'
 'amc hornet' 'ford maverick' 'datsun pl510'
 'volkswagen 1131 deluxe sedan' 'peugeot 504' 'audi 100 ls' 'saab 99e'
 'bmw 2002' 'amc gremlin' 'ford f250' 'chevy c20' 'dodge d200' 'hi 1200d'
 'datsun pl510' 'chevrolet vega 2300' 'toyota corona' 'ford pinto'
 'amc gremlin' 'plymouth satellite custom' 'chevrolet chevelle malibu'
 'ford torino 500' 'amc matador' 'chevrolet impala'
 'pontiac catalina brougham' 'ford galaxie 500' 'plymouth fury iii'
 'dodge monaco (sw)' 'ford country squire (sw)' 'pontiac safari (sw)'
 'amc hornet sportabout (sw)' 'chevrolet vega (sw)' 'pontiac firebird'
 'ford mustang' 'mercury capri 2000' 'opel 1900' 'peugeot 304' 'fiat 124b'
 'toyota corolla 1200' 'datsun 1200' 'volkswagen model 111'
 'plymouth cricket' 'toyota corona hardtop' 'dodge colt hardtop'
 'volkswagen type 3' 'chevrolet vega' 'ford pinto runabout'
 'chevrolet impala' 'pontiac catalina' 'plymouth fury iii'
 'ford galaxie 500' 'amc ambassador sst' 'mercury marquis'
 'buick lesabre custom' 'oldsmobile delta 88 royale'
 'chrysler newport royal' 'mazda rx2 coupe' 'amc matador (sw)'
 'chevrolet chevelle concours (sw)' 'ford gran torino (sw)'
 'plymouth satellite custom (sw)' 'volvo 145e (sw)' 'volkswagen 411 (sw)'
 'peugeot 504 (sw)' 'renault 12 (sw)' 'ford pinto (sw)' 'datsun 510 (sw)'
 'toyouta corona mark ii (sw)' 'dodge colt (sw)'
 'toyota corolla 1600 (sw)' 'buick century 350' 'amc matador'
 'chevrolet malibu' 'ford gran torino' 'dodge coronet custom'
 'mercury marquis brougham' 'chevrolet caprice classic' 'ford ltd'
 'plymouth fury gran sedan' 'chrysler new yorker brougham'
 'buick electra 225 custom' 'amc ambassador brougham' 'plymouth valiant'
 'chevrolet nova custom' 'amc hornet' 'ford maverick' 'plymouth duster'
 'volkswagen super beetle' 'chevrolet impala' 'ford country'
 'plymouth custom suburb' 'oldsmobile vista cruiser' 'amc gremlin'
 'toyota carina' 'chevrolet vega' 'datsun 610' 'maxda rx3' 'ford pinto'
 'mercury capri v6' 'fiat 124 sport coupe' 'chevrolet monte carlo s'
 'pontiac grand prix' 'fiat 128' 'opel manta' 'audi 100ls' 'volvo 144ea'
 'dodge dart custom' 'saab 99le' 'toyota mark ii' 'oldsmobile omega'
 'plymouth duster' 'ford maverick' 'amc hornet' 'chevrolet nova'
 'datsun b210' 'ford pinto' 'toyota corolla 1200' 'chevrolet vega'
 'chevrolet chevelle malibu classic' 'amc matador'
 'plymouth satellite sebring' 'ford gran torino'
 'buick century luxus (sw)' 'dodge coronet custom (sw)'
 'ford gran torino (sw)' 'amc matador (sw)' 'audi fox' 'volkswagen dasher'
 'opel manta' 'toyota corona' 'datsun 710' 'dodge colt' 'fiat 128'
 'fiat 124 tc' 'honda civic' 'subaru' 'fiat x1.9'
 'plymouth valiant custom' 'chevrolet nova' 'mercury monarch'
 'ford maverick' 'pontiac catalina' 'chevrolet bel air'
 'plymouth grand fury' 'ford ltd' 'buick century'
 'chevroelt chevelle malibu' 'amc matador' 'plymouth fury' 'buick skyhawk'
 'chevrolet monza 2+2' 'ford mustang ii' 'toyota corolla' 'ford pinto'
 'amc gremlin' 'pontiac astro' 'toyota corona' 'volkswagen dasher'
 'datsun 710' 'ford pinto' 'volkswagen rabbit' 'amc pacer' 'audi 100ls'
 'peugeot 504' 'volvo 244dl' 'saab 99le' 'honda civic cvcc' 'fiat 131'
 'opel 1900' 'capri ii' 'dodge colt' 'renault 12tl'
 'chevrolet chevelle malibu classic' 'dodge coronet brougham'
 'amc matador' 'ford gran torino' 'plymouth valiant' 'chevrolet nova'
 'ford maverick' 'amc hornet' 'chevrolet chevette' 'chevrolet woody'
 'vw rabbit' 'honda civic' 'dodge aspen se' 'ford granada ghia'
 'pontiac ventura sj' 'amc pacer d/l' 'volkswagen rabbit' 'datsun b-210'
 'toyota corolla' 'ford pinto' 'volvo 245' 'plymouth volare premier v8'
 'peugeot 504' 'toyota mark ii' 'mercedes-benz 280s' 'cadillac seville'
 'chevy c10' 'ford f108' 'dodge d100' 'honda accord cvcc'
 'buick opel isuzu deluxe' 'renault 5 gtl' 'plymouth arrow gs'
 'datsun f-10 hatchback' 'chevrolet caprice classic'
 'oldsmobile cutlass supreme' 'dodge monaco brougham'
 'mercury cougar brougham' 'chevrolet concours' 'buick skylark'
 'plymouth volare custom' 'ford granada' 'pontiac grand prix lj'
 'chevrolet monte carlo landau' 'chrysler cordoba' 'ford thunderbird'
 'volkswagen rabbit custom' 'pontiac sunbird coupe'
 'toyota corolla liftback' 'ford mustang ii 2+2' 'chevrolet chevette'
 'dodge colt m/m' 'subaru dl' 'volkswagen dasher' 'datsun 810' 'bmw 320i'
 'mazda rx-4' 'volkswagen rabbit custom diesel' 'ford fiesta'
 'mazda glc deluxe' 'datsun b210 gx' 'honda civic cvcc'
 'oldsmobile cutlass salon brougham' 'dodge diplomat'
 'mercury monarch ghia' 'pontiac phoenix lj' 'chevrolet malibu'
 'ford fairmont (auto)' 'ford fairmont (man)' 'plymouth volare'
 'amc concord' 'buick century special' 'mercury zephyr' 'dodge aspen'
 'amc concord d/l' 'chevrolet monte carlo landau'
 'buick regal sport coupe (turbo)' 'ford futura' 'dodge magnum xe'
 'chevrolet chevette' 'toyota corona' 'datsun 510' 'dodge omni'
 'toyota celica gt liftback' 'plymouth sapporo' 'oldsmobile starfire sx'
 'datsun 200-sx' 'audi 5000' 'volvo 264gl' 'saab 99gle' 'peugeot 604sl'
 'volkswagen scirocco' 'honda accord lx' 'pontiac lemans v6'
 'mercury zephyr 6' 'ford fairmont 4' 'amc concord dl 6' 'dodge aspen 6'
 'chevrolet caprice classic' 'ford ltd landau' 'mercury grand marquis'
 'dodge st. regis' 'buick estate wagon (sw)' 'ford country squire (sw)'
 'chevrolet malibu classic (sw)' 'chrysler lebaron town @ country (sw)'
 'vw rabbit custom' 'maxda glc deluxe' 'dodge colt hatchback custom'
 'amc spirit dl' 'mercedes benz 300d' 'cadillac eldorado' 'peugeot 504'
 'oldsmobile cutlass salon brougham' 'plymouth horizon'
 'plymouth horizon tc3' 'datsun 210' 'fiat strada custom'
 'buick skylark limited' 'chevrolet citation' 'oldsmobile omega brougham'
 'pontiac phoenix' 'vw rabbit' 'toyota corolla tercel'
 'chevrolet chevette' 'datsun 310' 'chevrolet citation' 'ford fairmont'
 'amc concord' 'dodge aspen' 'audi 4000' 'toyota corona liftback'
 'mazda 626' 'datsun 510 hatchback' 'toyota corolla' 'mazda glc'
 'dodge colt' 'datsun 210' 'vw rabbit c (diesel)' 'vw dasher (diesel)'
 'audi 5000s (diesel)' 'mercedes-benz 240d' 'honda civic 1500 gl'
 'renault lecar deluxe' 'subaru dl' 'vokswagen rabbit' 'datsun 280-zx'
 'mazda rx-7 gs' 'triumph tr7 coupe' 'ford mustang cobra' 'honda accord'
 'plymouth reliant' 'buick skylark' 'dodge aries wagon (sw)'
 'chevrolet citation' 'plymouth reliant' 'toyota starlet' 'plymouth champ'
 'honda civic 1300' 'subaru' 'datsun 210 mpg' 'toyota tercel'
 'mazda glc 4' 'plymouth horizon 4' 'ford escort 4w' 'ford escort 2h'
 'volkswagen jetta' 'renault 18i' 'honda prelude' 'toyota corolla'
 'datsun 200sx' 'mazda 626' 'peugeot 505s turbo diesel' 'volvo diesel'
 'toyota cressida' 'datsun 810 maxima' 'buick century'
 'oldsmobile cutlass ls' 'ford granada gl' 'chrysler lebaron salon'
 'chevrolet cavalier' 'chevrolet cavalier wagon'
 'chevrolet cavalier 2-door' 'pontiac j2000 se hatchback' 'dodge aries se'
 'pontiac phoenix' 'ford fairmont futura' 'amc concord dl'
 'volkswagen rabbit l' 'mazda glc custom l' 'mazda glc custom'
 'plymouth horizon miser' 'mercury lynx l' 'nissan stanza xe'
 'honda accord' 'toyota corolla' 'honda civic' 'honda civic (auto)'
 'datsun 310 gx' 'buick century limited'
 'oldsmobile cutlass ciera (diesel)' 'chrysler lebaron medallion'
 'ford granada l' 'toyota celica gt' 'dodge charger 2.2'
 'chevrolet camaro' 'ford mustang gl' 'vw pickup' 'dodge rampage'
 'ford ranger' 'chevy s-10']
Is y a 2D array? False

In [44]:
X.shape

(398, 7)

In [45]:
X.shape[1]

7

In [46]:
list(range(X.shape[1]))

[0, 1, 2, 3, 4, 5, 6]

In [47]:
# Drop the 'car_name' column as it's not relevant for modeling
df = df.drop(columns=['car_name'])

In [48]:
# Separate features (X) and target variable (y)
X = df.drop(columns=['mpg'])
y = df['mpg']

In [49]:
# Create ColumnTransformer for one-hot encoding
categorical_indices = list(range(X.shape[1]))

from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
ct = ColumnTransformer(transformers=[('encoder', OneHotEncoder(), categorical_indices)], remainder='passthrough')
X = ct.fit_transform(X)

In [56]:
X

,cylinders,displacement,horsepower,weight,acceleration,model_year,origin
0,8,307.0,130,3504,12.0,70,1
1,8,350.0,165,3693,11.5,70,1
2,8,318.0,150,3436,11.0,70,1
3,8,304.0,150,3433,12.0,70,1
4,8,302.0,140,3449,10.5,70,1
...,...,...,...,...,...,...,...
393,4,140.0,86,2790,15.6,82,1
394,4,97.0,52,2130,24.6,82,2
395,4,135.0,84,2295,11.6,82,1
396,4,120.0,79,2625,18.6,82,1
397,4,119.0,82,2720,19.4,82,1

In [57]:
# Split the dataset into features (X) and target variable (y)
X = df[['cylinders', 'displacement', 'horsepower', 'weight', 'acceleration', 'model_year', 'origin']]
y = df['mpg']

In [58]:
# Replace non-numeric values (e.g., '?') with NaN
df.replace('?', np.nan, inplace=True)

# Convert all columns to numeric
df = df.apply(pd.to_numeric, errors='coerce')

# Drop rows with NaN values
df.dropna(inplace=True)

In [59]:
# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [60]:
#Train model
# Initialize and train the Random Forest Regression model

from sklearn.ensemble import RandomForestRegressor

rf_model = RandomForestRegressor(random_state=42)
rf_model.fit(X_train, y_train)

RandomForestRegressor(random_state=42)

In [61]:
# Evaluate the model
y_pred_rf = rf_model.predict(X_test)

In [62]:
# Calculate Mean Absolute Error (MAE)
mae_rf = mean_absolute_error(y_test, y_pred_rf)
print("Mean Absolute Error (Random Forest):", mae_rf)

Mean Absolute Error (Random Forest): 1.7185569620253163

In [63]:
# Calculate Mean Squared Error (MSE)
mse_rf = mean_squared_error(y_test, y_pred_rf)
print("Mean Squared Error (Random Forest):", mse_rf)

Mean Squared Error (Random Forest): 5.680200075949368

In [64]:
# Calculate R-squared (R2) score
r2_rf = r2_score(y_test, y_pred_rf)
print("R-squared (R2) Score (Random Forest):", r2_rf)

R-squared (R2) Score (Random Forest): 0.888712085258602

In [65]:
## ORRRR

In [66]:
from sklearn.ensemble import GradientBoostingRegressor

# Initialize and train the Gradient Boosting Regression model
gb_model = GradientBoostingRegressor(random_state=42)
gb_model.fit(X_train, y_train)

GradientBoostingRegressor(random_state=42)

In [67]:
# Evaluate the model
y_pred_gb = gb_model.predict(X_test)

In [68]:
# evaluate model performance

from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

# Calculate Mean Absolute Error (MAE)
mae_gb = mean_absolute_error(y_test, y_pred_gb)
print("Mean Absolute Error (Gradient Boosting):", mae_gb)

Mean Absolute Error (Gradient Boosting): 1.8040615106639244

In [69]:
# Calculate Mean Squared Error (MSE)
mse_gb = mean_squared_error(y_test, y_pred_gb)
print("Mean Squared Error (Gradient Boosting):", mse_gb)

Mean Squared Error (Gradient Boosting): 6.415153366258091

In [70]:
# Calculate R-squared (R2) score
r2_gb = r2_score(y_test, y_pred_gb)
print("R-squared (R2) Score (Gradient Boosting):", r2_gb)

R-squared (R2) Score (Gradient Boosting): 0.8743126947411621